@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

        @each $value in $positions {
            .position#{$infix}-#{$value} { position: $value !important; }
        }
    }
}
